<html>
    <%- include("header"); -%>
    <body>
       <h1><%= titles %></h1>
       <ul>
           <% for (var i = 0; i < listItem.length; i++) { %>
               <li><%= listItem[i] %></li>
               <% } %>
       </ul>
       <form action="/" method="post">
           <input type="text" name="newItem">
           <button type="submit" name="list" value="<%= titles %>">Add Item</button>
        </form>        
    </body>
</html>